<strong>Olá, {{ provider }}</strong>
<p>Houve uma inscrição no seu meetup!</p>
<hr>
<p>Dados do inscrito:</p>
<p>
  <strong>Usuário: </strong>{{ user }}<br />
  <strong>Email: </strong>{{ email }}<br />
</p>
<hr>
<br />
